<div class="session-content">
	<h2>Liveness</h2>

	<div class="form-row">
		<button mat-flat-button color="primary" [disabled]="isLoading" (click)="onStart()">
			{{ isLoading ? 'Starting...' : 'Start Liveness Session' }}
		</button>
	</div>

	<app-error-display #errorDisplay></app-error-display>

	<div class="form-row" *ngIf="sessionId as sid">
		<div>SessionId: <code>{{ sid }}</code></div>
	</div>

	<div class="status-result" *ngIf="lastStatus as status">
		<h3>Session Result:</h3>
		<pre>{{ status | json }}</pre>
	</div>
</div>